### Python Data Structure and Boolean
* Boolean
* Boolean and Logical Operator
* Lists
* Comparison Operator
* Dictionaries
* Tuples
* Sets

#### *Boolean Variables*
- Boolean values are the two constant objects True anf False.
- They are used to represt truth values.
- In numeric contexts for example, when used as the argument to an arithmetic operator they behave like the integers 0 and 1 respectively.
- The built-in function bool() can be used cast any value to a boolean if the value can be interpreted as a truth value.

In [2]:
print(True,False)

True False

In [3]:
type(True)

bool

In [4]:
bool()

False

In [5]:
bool(True)

True

In [30]:
my_var = 'Vishal'

In [31]:
print(my_var.isalnum()) # check if the all char are numbers
print(my_var.isalpha()) # check if all char in the string are alphabets
print(my_var.isdigit()) # test if string contains digit
print(my_var.istitle()) # test if string contain title word (Vishal Yadav)
print(my_var.isupper()) # test A string is uppercase if all cased characters in the string
print(my_var.isspace()) # test if string contain spaces
print(my_var.endswith('v')) # case matter
print(my_var.startswith('v')) # case matter

True
True
False
True
False
False
False
False

#### Boolean and Logical Operator

In [32]:
True and True

True

In [33]:
True and False

False

In [34]:
False and False

False

In [35]:
True or True

True

In [36]:
True or False

True

In [38]:
False or False

False

In [39]:
a = 'vishal'
b = 'vishal124'

In [40]:
a.isalnum() and b.isalnum()

True

In [42]:
a.isalnum() or a.isnum()

True

#### Lists
A lists is a data structure in Python that is a mutable, or changeable, ordered squence of elements, Each element or value that is inside of a list is called an item, Just as string are defined as character between quotes, lists are defined by having values between square brackets [].

In [43]:
list_example = []
print(type(list_example))

<class 'list'>

In [44]:
# another type of define list
lst = list()
type(lst)

list

In [45]:
lst=[1,2,3,'ML','CSE','development','flutter',5]

In [46]:
len(lst)

8

In [49]:
# Append in list (append is use add element in lst in end)
lst.append('golang')

In [66]:
# we can also append nessted list
lst.append(['js','html'])

In [67]:
lst

[1,
 2,
 3,
 'css',
 'ML',
 'CSE',
 'development',
 'flutter',
 5,
 'golang',
 'golang',
 ['js', 'html']]

In [68]:
# Get element from list using indexing
lst[10]

'golang'

In [54]:
lst[3]

'ML'

In [ ]:
lst[:] # 0 to end

[1, 2, 3, 'css', 'ML', 'CSE', 'development', 'flutter', 5, 'golang']

In [59]:
lst[3:] # 3 to end

['css', 'ML', 'CSE', 'development', 'flutter', 5, 'golang', 'golang']

In [60]:
lst[2:6] # 2 to 5

[3, 'css', 'ML', 'CSE']

In [62]:
lst[:-1] # it print whole  list also support negtive indexing

[1, 2, 3, 'css', 'ML', 'CSE', 'development', 'flutter', 5, 'golang']

In [63]:
lst[-3:]

[5, 'golang', 'golang']

In [65]:
lst[-4:11]

['flutter', 5, 'golang', 'golang']

In [55]:
# Inserting in list
lst.insert(3,'css')

In [56]:
lst

[1, 2, 3, 'css', 'ML', 'CSE', 'development', 'flutter', 5, 'golang', 'golang']

In [57]:
len(lst)

11

In [69]:
lst

[1,
 2,
 3,
 'css',
 'ML',
 'CSE',
 'development',
 'flutter',
 5,
 'golang',
 'golang',
 ['js', 'html']]

In [70]:
lst.extend([8,9])

In [71]:
lst

[1,
 2,
 3,
 'css',
 'ML',
 'CSE',
 'development',
 'flutter',
 5,
 'golang',
 'golang',
 ['js', 'html'],
 8,
 9]

In [73]:
sum([12,4,5,6,7])

34

In [74]:
# pop() method it remove element from last
lst.pop()

9

In [76]:
# count: it calculated total occurence of ele
lst.count('golang')

2

In [77]:
lst

[1,
 2,
 3,
 'css',
 'ML',
 'CSE',
 'development',
 'flutter',
 5,
 'golang',
 'golang',
 ['js', 'html'],
 8]

In [83]:
# index(): Return the index of fist occurnence. Start and End index are not neccessary parameter
lst.index('css',1,11) # value,start,end

3

In [ ]:
max(lst) # it is not supported the character+string list

TypeError: '>' not supported between instances of 'str' and 'int'

In [88]:
list2 = [1,2,3,4,5,8]
max(list2)

8

In [89]:
min(list2)

1

In [90]:
list2.index(4)

3

In [91]:
list2*2

[1, 2, 3, 4, 5, 8, 1, 2, 3, 4, 5, 8]

#### SETS
A Set is an unorderd collection data type that is itrable, mutable, and has no duplicate elements. Pyhton's set class represents the mathematical notion of a set. This is based on data structure known as a hash table.

In [92]:
# defining of empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [93]:
set_var={1,2,3,4,5,'flutter'}
set_var

{1, 2, 3, 4, 5, 'flutter'}

In [ ]:
set_var[0]
set_var['flutter'] #'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [95]:
# Ibuilt function in set
set_var.add('reactjs')
set_var

{1, 2, 3, 4, 5, 'flutter', 'reactjs'}

In [106]:
set1 = {'mongo','express','react','node','css'}
set2 = {'react','flutter','golang','ML','css'}

In [107]:
# differnce
set2.difference(set1)

{'ML', 'flutter', 'golang'}

In [109]:
set2 # not change anthing when we use 'difference' in set2

{'ML', 'css', 'flutter', 'golang', 'react'}

In [110]:
# differnce_update
set2.difference_update(set1)

In [111]:

set2 # here set2 will change

{'ML', 'flutter', 'golang'}

In [112]:
# intersection() and intersection_update()

#### Dictionaries
A Dictionaries is a collection which is unorderd, changeable, and indexed, In python dictionary are written with curly brackets, and they have keys and values.

In [113]:
dic={}
type(dic)

dict

In [114]:
dic = dict()
type(dic)

dict

In [115]:
my_dict = {
    'name':'vishal',
    'age':22,
    'class':12
}
my_dict

{'name': 'vishal', 'age': 22, 'class': 12}

In [116]:
type(my_dict)

dict

In [117]:
# Access the vlaue from dictionary
my_dict['name']

'vishal'

In [118]:
my_dict['name'] = 'vishal yadav'
# it will over write the previos exsisting key

In [119]:
my_dict[1]='new_value'
# if key not present in dict it will append it

In [120]:
my_dict

{'name': 'vishal yadav', 'age': 22, 'class': 12, 1: 'new_value'}

In [121]:
# loop through dictionary key
for keys in my_dict:
    print(keys)

name
age
class
1

In [122]:
# loop through dictionary values
for values in my_dict.values():
    print(values)

vishal yadav
22
12
new_value

In [123]:
# loop through dictionary another way to get value
for keys in my_dict:
    print(my_dict[keys])

vishal yadav
22
12
new_value

In [127]:
# we can also iterate both in tuple
for x in my_dict.items():
    print(type(x))
    print(x)

<class 'tuple'>
('name', 'vishal yadav')
<class 'tuple'>
('age', 22)
<class 'tuple'>
('class', 12)
<class 'tuple'>
(1, 'new_value')

In [128]:
# nested dictionary
skill1 = {'language':'reactjs'}
skill2 = {'language':'flutter'}
skill3 = {'language':'rnodejs'}

skill_type = {
    'mern':skill1,
    'new':skill2,
    'old_one':skill3
}

In [129]:
skill_type

{'mern': {'language': 'reactjs'},
 'new': {'language': 'flutter'},
 'old_one': {'language': 'rnodejs'}}

In [130]:
print(skill_type['old_one']['language'])

rnodejs

#### Tuples 
immutable,indexable

In [135]:
my_tuple=()
type(my_tuple)

tuple

In [136]:
# another way to defined tuple
my_tuple = tuple()
type(my_tuple)

tuple

In [137]:
my_tuple=('html','css','js')
my_tuple

('html', 'css', 'js')

In [138]:
my_tuple[0]

'html'

In [ ]:
my_tuple[0] = 'vishal' # 'tuple' object does not support item assignment can't change

TypeError: 'tuple' object does not support item assignment

In [140]:
my_tuple.count('html')

1

In [ ]:
my_tuple('flutter') # if element not present in tupple

TypeError: 'tuple' object is not callable

In [145]:
my_tuple.index('js') # we can index of item. present in tuple

2